<div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Edit skills
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <%= render 'form' %>

<%= link_to 'Back', skills_path, class: 'btn btn-default' %>
            </div>
        </div>
    </div>
    <div class="col-lg-4"></div>
</div>